#gallery {
    max-width: 1024px;
}

.panel-body img {
    width: 100%;
}

.img-responsive {
    width: 100%;
}

.form-group label {
    color: darkgray;
}

.navbar > .container-fluid {
    padding: 0;
}

.navbar-form .input-group .input-group-btn {
    width: 39px;
}

.navbar-form {
    width: 100%;
    padding: 0;
    margin-left: 0;
}

.navbar-right {
    margin: 0;
}

.panel {
    -webkit-transition: box-shadow 0.6s;
    transition: box-shadow 0.6s;
}

.panel:hover {
    box-shadow: 0px 0px 20px 2px rgba(138,138,138,1);
    -webkit-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
}

.panel-body {
    padding: 0;
}

.more {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.less {
    white-space: wrap;
    overflow: auto;
}

.clearfix {
    margin-bottom: 10px;
}

.panel-footer .btn {
    width: 45%;
}

.panel-footer {
    position: relative;
    z-index: 2;
}

.flex-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-container::before,
.flex-container::after {
    display: none;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; 
}

.panel-footer .container-fluid a {
    text-decoration: none;
}

.lb-lg {
    font-size: 18px;
}

.label .glyphicon {
    font-size: 16px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

@media only screen and (min-width:992px) {
/*    
    .row > .col-sm-6 {
        max-height: 361px;
    }
*/    
    .pagination {
        margin-top: 130px;
    }
}

@media only screen and (max-width:767px) {
    .flex-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .panel-footer .btn {
        width: 100%;
        font-size: 1.8em;
    }
    
    .panel-footer .btn:last-child {
        margin-top: 15px;
    }
    
    .lb-lg {
        font-size: 28px;
    }
    
    .panel-footer .flex-container .glyphicon {
        font-size: 28px;
    }
}

@media only screen and (max-width:991px) {
    .panel-footer .flex-container .glyphicon {
        font-size: 24px;
    }
    
    .panel-footer .btn {
        font-size: 1.6em;
    }
}